<link rel="stylesheet" href="/css/style.css">

<div class="topo">
    <h2>💻 Cyber PDV</h2>
    <div class="menu">
        <a href="/">Dashboard</a>
        <a href="/pdv">PDV</a>
        <a href="/produtos">Produtos</a>
        <a href="/caixa">Caixa</a>
    </div>
</div>

<div class="container">
    <div class="card">
        <h2>Caixa</h2>
        <p>Status: Aberto</p>
    </div>
</div>