app.get("/caixa", auth, (req, res) => {

    db.query(
        "SELECT * FROM caixa WHERE empresa_id=? AND status='aberto' LIMIT 1",
        [req.session.empresa_id],
        (err, result) => {

            if (err) {
                console.log("ERRO CAIXA:", err);
                return res.send("Erro no banco (caixa)");
            }

            if (!result || result.length === 0) {
                return res.send(`
                <h1>Abrir Caixa</h1>
                <form method="POST" action="/caixa/abrir">
                    <input name="valor" required placeholder="Saldo inicial">
                    <button>Abrir</button>
                </form>
                `);
            }

            res.send(`
                <h1>Caixa Aberto</h1>
                <p>Saldo inicial: R$ ${result[0].saldo_inicial}</p>

                <form method="POST" action="/caixa/fechar">
                    <button>Fechar Caixa</button>
                </form>
            `);
        }
    );
});