<link rel="stylesheet" href="/css/caixa.css">

<div class="container">
<div class="card">

<% if (!caixa) { %>

<form method="POST" action="/caixa/abrir">
<input name="valor" placeholder="Valor inicial">
<button>Abrir</button>
</form>

<% } else { %>

<p>Saldo: R$ <%= caixa %></p>

<form method="POST" action="/caixa/fechar">
<button>Fechar</button>
</form>

<% } %>

</div>
</div>