<h1>CAIXA</h1>

<% if(!caixa){ %>

<form action="/abrir-caixa" method="POST">
    <input type="number" name="valor" placeholder="Valor inicial" required>
    <button>Abrir Caixa</button>
</form>

<% } else { %>

<p>Caixa aberto</p>

<form action="/fechar-caixa" method="POST">
    <button>Fechar Caixa</button>
</form>

<% } %>

<a href="/dashboard">Voltar</a>