<h1>DASHBOARD PDV</h1>

<p>Total vendido: R$ <%= total %></p>
<p>Vendas: <%= vendas %></p>
<p>Produtos: <%= produtos %></p>

<a href="/venda">Abrir PDV</a>
<br>
<a href="/produtos">Gerenciar Produtos</a>