<link rel="stylesheet" href="/css/caixa.css">

<div class="topo">
<a href="/pdv">PDV</a>
<a href="/produtos">Produtos</a>
<a href="/caixa">Caixa</a>
<a href="/logout">Sair</a>
</div>

<div class="container">
<div class="card">
<h2>Dashboard</h2>
</div>
</div>