<link rel="stylesheet" href="/css/caixa.css">

<div class="topo">
    <h2>💻 Cyber PDV</h2>

    <div class="menu">
        <a href="/">Dashboard</a>
        <a href="/pdv">PDV</a>
        <a href="/produtos">Produtos</a>
        <a href="/caixa">Caixa</a>
        <a href="/logout">Sair</a>
    </div>
</div>

<div class="container">
    <div class="card">
        <h2>Dashboard</h2>
        <p>Sistema rodando 🚀</p>
    </div>
</div>