<link rel="stylesheet" href="/css/style.css">

<div class="topo">
    <h2>💻 Cyber PDV</h2>
    <div class="menu">
        <a href="/pdv">PDV</a>
        <a href="/produtos">Produtos</a>
        <a href="/relatorio">Relatório</a>
    </div>
</div>

<div class="container">
<div class="card">
<h2>Dashboard</h2>
<p>Total vendido hoje: R$ <%= total %></p>
</div>
</div>