<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cyber PDV</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="navbar">
    <h2>💻 Cyber PDV</h2>

    <% if (typeof user !== 'undefined') { %>
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/caixa">Caixa</a>
            <a href="/logout">Sair</a>
        </div>
    <% } %>
</div>

<div class="container">
    <%- body %>
</div>

</body>
</html>