<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Cyber PDV</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="sidebar">
    <h2>💻 Cyber PDV</h2>

    <a href="/dashboard">Dashboard</a>
    <a href="/produtos">Produtos</a>
    <a href="/lista-produtos">Lista</a>
    <a href="/caixa">Caixa</a>
    <a href="/vendas">Vendas</a>
    <a href="/relatorio">Relatório</a>
    <a href="/logout">Sair</a>
</div>

<div class="main">
    <div class="topbar">
        Sistema PDV
    </div>

    <div class="content">
        <%- body %>
    </div>
</div>

</body>
</html>