<link rel="stylesheet" href="/css/caixa.css">

<div class="container">
<div class="card">
<h2>Login</h2>

<form method="POST">
<input name="usuario" placeholder="Usuário">
<input type="password" name="senha" placeholder="Senha">
<button>Entrar</button>
</form>

</div>
</div>