<link rel="stylesheet" href="/css/style.css">

<div class="container">
    <div class="card">
        <h2>Login</h2>
        <input placeholder="Usuário">
        <input placeholder="Senha">
        <button>Entrar</button>
    </div>
</div>