<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body { background:#0f172a; color:white; display:flex; justify-content:center; align-items:center; height:100vh; }
form { background:#1e293b; padding:30px; border-radius:10px; }
input { display:block; margin:10px 0; padding:10px; width:200px; }
button { padding:10px; width:100%; background:#22c55e; border:none; }
</style>
</head>
<body>

<form method="POST">
<h2>Login</h2>
<input name="user" placeholder="Usuário"/>
<input name="pass" type="password" placeholder="Senha"/>
<button>Entrar</button>
</form>

</body>
</html>