<link rel="stylesheet" href="/css/style.css">

<div class="topo">
    <h2>💻 Cyber PDV</h2>
    <div class="menu">
        <a href="/">Dashboard</a>
        <a href="/produtos">Produtos</a>
    </div>
</div>

<div class="container">

<div class="card">
<h2>PDV</h2>

<input id="busca" placeholder="Digite produto">

<ul id="lista"></ul>

<h2>Total: R$ <span id="total">0</span></h2>

<form method="POST" action="/venda">
<input type="hidden" name="total" id="totalInput">
<button onclick="finalizar()">Finalizar</button>
</form>

</div>

</div>

<script>
const produtos = <%- JSON.stringify(produtos) %>;
let total = 0;

document.getElementById("busca").addEventListener("keyup", function(e){

    if(e.key === "Enter"){

        let nome = this.value.toLowerCase();

        let produto = produtos.find(p => p.nome.toLowerCase() === nome);

        if(!produto){
            alert("Produto não encontrado");
            this.value = "";
            return;
        }

        total += produto.preco;

        document.getElementById("total").innerText = total;

        let li = document.createElement("li");
        li.innerText = produto.nome + " - R$ " + produto.preco;

        document.getElementById("lista").appendChild(li);

        this.value = "";
    }
});

function finalizar(){
    document.getElementById("totalInput").value = total;
}
</script>