<!DOCTYPE html>
<html>
<head>
<title>PDV</title>
<style>
body { background:#0f172a; color:white; font-family:Arial; }
input { width:100%; padding:15px; font-size:18px; }
button { padding:15px; margin-top:10px; font-size:16px; }
.total { font-size:40px; margin-top:20px; }
</style>
</head>
<body>

<h1>🛒 PDV</h1>

<input id="busca" placeholder="Digite produto"/>

<div id="lista"></div>

<div class="total" id="total">R$ 0</div>

<button onclick="finalizar()">FINALIZAR VENDA</button>

<script>
let itens = [];
let total = 0;

document.getElementById("busca").addEventListener("change", async e => {
    const nome = e.target.value;

    const res = await fetch("/buscar-produto", {
        method:"POST",
        headers:{'Content-Type':'application/json'},
        body:JSON.stringify({ nome })
    });

    const prod = await res.json();

    if(prod){
        itens.push({ nome: prod.nome, preco: prod.preco, qtd:1 });
        total += parseFloat(prod.preco);

        document.getElementById("lista").innerHTML += `<p>${prod.nome} - R$ ${prod.preco}</p>`;
        document.getElementById("total").innerText = "R$ " + total.toFixed(2);
    } else {
        alert("Produto não encontrado");
    }

    e.target.value="";
});

async function finalizar(){
    await fetch("/finalizar", {
        method:"POST",
        headers:{'Content-Type':'application/json'},
        body:JSON.stringify({ total, itens })
    });

    alert("Venda finalizada");
    location.reload();
}
</script>

</body>
</html>