<link rel="stylesheet" href="/css/style.css">

<div class="topo">
    <h2>💻 Cyber PDV</h2>
    <div class="menu">
        <a href="/">Dashboard</a>
        <a href="/pdv">PDV</a>
        <a href="/produtos">Produtos</a>
        <a href="/caixa">Caixa</a>
    </div>
</div>

<div class="container">
    <div class="card">
        <h2>PDV</h2>

        <input id="produto" placeholder="Digite produto">
        <button onclick="add()">Adicionar</button>

        <ul id="lista"></ul>

        <h3>Total: R$ <span id="total">0</span></h3>
    </div>
</div>

<script>
let total = 0;

function add(){
    let nome = document.getElementById("produto").value;

    if(!nome) return;

    let li = document.createElement("li");
    li.innerText = nome;
    document.getElementById("lista").appendChild(li);

    total += 10;
    document.getElementById("total").innerText = total;

    document.getElementById("produto").value = "";
}
</script>