<link rel="stylesheet" href="/css/caixa.css">

<div class="container">

<div class="card">
<h2>PDV</h2>

<ul id="lista"></ul>

<h3>Total: R$ <span id="total">0</span></h3>

<% produtos.forEach(p => { %>
<button onclick="addProduto('<%= p.nome %>', <%= p.preco %>)">
<%= p.nome %>
</button>
<% }) %>

</div>

</div>

<audio id="bip" src="https://www.soundjay.com/buttons/beep-01a.mp3"></audio>

<script src="/js/pdv.js"></script>