<!DOCTYPE html>
<html>

<head>

<title>Novo Produto</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<header>Cyber PDV</header>

<div class="container">

<h2>Cadastrar Produto</h2>

<form action="/salvar-produto" method="POST">

<label>Código</label>
<input name="codigo">

<label>Nome</label>
<input name="nome">

<label>Preço</label>
<input name="preco">

<label>Quantidade</label>
<input name="quantidade">

<button>Salvar</button>

</form>

</div>

</body>
</html>