<h2>Produtos</h2>

<form method="POST">
<input name="nome" placeholder="Nome">
<input name="preco" placeholder="Preço">
<button>Salvar</button>
</form>

<div style="display:flex;gap:10px;flex-wrap:wrap;margin-top:20px;">
<% produtos.forEach(p=>{ %>
<div style="background:#1e293b;padding:15px;border-radius:10px;color:white">
<b><%= p.nome %></b><br>
R$ <%= p.preco %>
</div>
<% }) %>
</div>