<h2>Relatório de Vendas</h2>

<table border="1">
<tr>
<th>#</th>
<th>Valor</th>
</tr>

<% let total = 0; %>

<% for(let i = 0; i < vendas.length; i++){ %>

<tr>
<td><%= i+1 %></td>
<td>R$ <%= vendas[i].total %></td>
</tr>

<% total += Number(vendas[i].total); %>

<% } %>

</table>

<h3>Total: R$ <%= total %></h3>