<!DOCTYPE html>
<html>
<head>
<title>Relatório</title>
</head>
<body>

<h1>📊 Relatório de Vendas</h1>

<table border="1">
<tr>
<th>Data</th>
<th>Total</th>
</tr>

<% dados.forEach(d => { %>
<tr>
<td><%= d.dia %></td>
<td>R$ <%= d.total %></td>
</tr>
<% }) %>

</table>

<a href="/">Voltar</a>

</body>
</html>