<h2>Relatório de Vendas</h2>

<table border="1">
<tr>
<th>#</th>
<th>Valor</th>
</tr>

<% let total = 0; %>

<% vendas.forEach(function(v, i){ %>
<tr>
<td><%= i+1 %></td>
<td>R$ <%= v.total %></td>
</tr>

<% total += Number(v.total); %>

<% }) %>

</table>

<h3>Total: R$ <%= total %></h3>