<link rel="stylesheet" href="/css/style.css">

<div class="topo">
    <h2>💻 Cyber PDV</h2>
    <div class="menu">
        <a href="/">Dashboard</a>
        <a href="/pdv">PDV</a>
        <a href="/produtos">Produtos</a>
    </div>
</div>

<div class="container">

<div class="card">
<h2>Relatório de Vendas</h2>

<ul>
<% vendas.forEach(v => { %>
<li>R$ <%= v.total %> - <%= v.data %></li>
<% }) %>
</ul>

</div>

</div>