<h2>Relatório de Vendas</h2>

<table border="1" cellpadding="10">
<tr>
<th>#</th>
<th>Valor</th>
</tr>

<% let total = 0; %>

<% vendas.forEach((v,i)=>{ total += v.total; %>
<tr>
<td><%= i+1 %></td>
<td>R$ <%= v.total %></td>
</tr>
<% }) %>

</table>

<h2>Total: R$ <%= total.toFixed(2) %></h2>