body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: #fff;
}

.topo {
    background: #020617;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #22c55e;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
}

button {
    padding: 10px;
    background: #22c55e;
    border: none;
    font-weight: bold;
    cursor: pointer;
}